@import "../../../assets/styles/variables";

#search-container {
  padding: $large-space;
}

#search-box {
  max-width: 600px;
  margin: $extra-large-space auto;
  padding: $large-space;
  border-radius: $border-radius-normal;
  box-shadow: $box-shadow-normal;
  background-color: rgb(0, 0, 0, 0.8);
}

#search-grid-container {
  	display: grid;
  	grid-template-columns: auto auto;
  	margin-bottom: $extra-large-space;
  	column-gap: $medium-space;
  	row-gap: $large-space;
  	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.error-msg-top {
  margin-bottom: $extra-large-space;
  border-radius: $border-radius-normal;
  font-size: $font-size-base * 0.9;
  color: $white;
  background-color: $red;
}

.error-msg {
  margin-top: 2px;
  font-size: $font-size-base * 0.8;
  color: $red;
}
